@use '../foundation/mixin' as m;

.l-header{
    position: relative;
    height: 217px;
    background-color: #FFF7EF;
    font-family: 'Roboto', sans-serif;  
    color: #707070;
    @include m.pc{
        display: flex;
        justify-content: space-between;
    };
}
.l-header__logo{
    padding: 40px;
    font-size: 40px; 
    text-align: center;
    @include m.pc{
        width: 40%;
        margin: auto 20px;
        padding: 20px;
        font-size: 64px;
        text-align: initial;
    };
}
.l-header__menu{
    position: absolute;
    top: 14px;
    right: 10px;  
    font-size: 20px;
    @include m.tb{
        font-size: 34px;
    };
    @include m.pc{
        display: none;
    };
}
.l-header__cover{
    position: fixed;
    height: 0;  //デフォルトは0で背景色なし。
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9995;
	background: rgba(0,0,0,.5);
	//display: block;
}
