@use '../../foundation/mixin' as m;

.u-mg-top--30-to-tb50{
    margin-top: 30px;
    @include m.tb{
        margin-top: 50x;
    }
}
.u-mg-bottom--30-to-tb60{
    margin-bottom: 30px;
    @include m.tb{
        margin-bottom: 60x;
    }
}