@use '../../foundation/mixin' as m;

.u-padding--0{
    padding: 0;
}
.u-padding--10-0-0-0{
    padding: 10px 0 0 0;
}
.u-padding--30-0{
    padding: 30px 0;
}
.u-padding--tb-22-30{
    @include m.tb{
        padding: 22px 30px;
    };    
}
.u-padding--30-20-to-tb50{
    padding: 30px 20px;
    @include m.tb{
        padding: 50px;
    }
}
.u-pd-top--34{
    padding-top: 34px;
}

.u-pd-bottom--10-to-pc20-auto{
    padding-bottom: 10px;
    @include m.pc{
        padding: 20px auto;
    }
}
.u-pd-bottom--15-to-pc40{
    padding-bottom: 15px;
    @include m.pc{
        padding-bottom: 40px;
    }
}
.u-pd-bottom--20{
    padding-bottom: 20px;
}
.u-pd-bottom--25{
    padding-bottom: 25px;
}
.u-pd-bottom--30{
    padding-bottom: 30px;
}
.u-pd-bottom--30-to-tb60{
    padding-bottom: 30px;
    @include m.tb{
        padding-bottom: 60px;
    }
}
