@use '../../foundation/mixin' as m;

.u-sidebar{
    position: absolute;
    top: 0;
    right: -100%;
    
    @include m.pc{
        right: 0;
        left: 100%;
    };

    &.is-open{
        right: 0;
    }
}
.u-sidebar__title{
    @include m.pc{
        position: relative;
        top: 82px;
        left: 46px;
    };

}
.u-sidebar__btn{
    position: absolute;
    right: 7px;
    top: 25px;
}
.u-sidebar__body{
    position: relative;
    top: 212px;
    left: 46px;
}