@use '../../foundation/mixin' as m;

.c-nav__btn--open{
    position: absolute;
    top: 14px;
    right: 10px;  
    font-size: 20px;
    @include m.tb{
        font-size: 34px;
    };
    @include m.pc{
        display: none;
    };
}
.c-nav__btn--close{
    position: absolute;
    right: 7px;
    top: 25px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    @include m.pc{
        display: none;
    };    
}

.c-search__btn{
    position:absolute; 
    top:0;
    left: 240px;
    text-align: center;    
    width:78px;
    height:46px;
    background:#F2EDE9;
    border-radius:10px;
    border-color: #707070;
    border-width: 1px;
    color:#707070;
    font-size:16px;
    font-weight: bold;
    font-family: 'M+ 1m';
    @include m.tb{
        left: 410px;
        width: 136px;
    };
    @include m.pc-s{
        width: 100px;
        left: 290px;
    };
}
.c-read-more__btn{   
    width:163px;
    height:42px;
    background:#F2EDE9;
    border-radius:30px;
    border-color: white;
    color:#707070;
    font-size:16px;
    font-weight: bold;
    font-family: 'M+ 1m';
    @include m.pc{
        height: 76px;
        width: 292px;
    };
}