@use '../../foundation/mixin' as m;

.c-nav__btn--open{
    position: absolute;
    top: 14px;
    right: 10px;  
    font-size: 20px;
    color:#707070;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    @include m.tb{
        font-size: 30px;
    };
    @include m.pc{
        display: none;
    };
}
.c-nav__btn--close{
    position: absolute;
    right: 7px;
    top: 25px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    @include m.pc{
        display: none;
    };    
}

.c-search__btn{
    position:absolute; 
    top:0;
    left: 240px;
    text-align: center;    
    width:78px;
    height:46px;
    background:#F2EDE9;
    border-radius:10px;
    border-color: #707070;
    border-width: 1px;
    color:#707070;
    font-size:16px;
    font-weight: bold;
    font-family: 'M+ 1m';
    cursor: pointer;
    @include m.tb{
        left: 410px;
        width: 136px;
    };
    @include m.pc-s{
        width: 100px;
        left: 260px;
    };
}
.c-read-more__btn{   
    width:163px;
    height:42px;
    margin-top: 40px;
    background:white;
    border-radius:40px;
    color:#707070;
    font-size:16px;
    font-weight: bold;
    font-family: 'M+ 1m';
    cursor: pointer;
    @include m.pc{
        height: 76px;
        width: 292px;
    };
}

.c-page__pe-btn--prev::before, .c-page__pe-btn--prev::after{  
    display: inline-block;
    content:"";
    width: 12px;
    height: 12px;
    border-top:1px solid #707070;
    border-right:1px solid #707070;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.c-page__pe-btn--next::before, .c-page__pe-btn--next::after{  
    display: inline-block;
    content:"";
    width: 12px;
    height: 12px;
    border-top:1px solid #707070;
    border-right:1px solid #707070;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.c-page-nav__btn{
    padding: 0;
}
.c-page-nav__btn li{
    display: inline;
    padding:7px 12px;
    margin: 0 3px;
    border:1px solid #707070;
    cursor: pointer;
}
.c-page-nav__btn li:first-child{
    cursor:initial;
}