@use '../../foundation/mixin' as m;

/**********************/
/* font-color
/**********************/
.c-color--white{
    color: white;
}
.c-color--darkbrown{
    color: #3C2A10;
}
.c-color--lightbrown{
    color: #707070;
}



/**********************/
/* background-color
/**********************/
.c-bg-color--black{
    background-color: black;
}
.c-bg-color--darkbrown{
    background-color: #3C2B1C;
}
.c-bg-color--lightbrown{
    background-color: #9D8670
}
.c-bg-color--lightbeige{
    background-color: #FFF7EF;
}
.c-bg-color--dull-lightbeige{
    background-color: #F2EDE9;
}
.c-bg-color--tp50-black{
    background: rgba(0,0,0,.5);
}
.c-bg-color--tp60-black{
    background: rgba(0,0,0,.6);
}