@use '../../foundation/mixin' as m;

.c-article__container, .c-card__container{
    display: flex;
    flex-direction:column;
    @include m.tb{
        flex-direction: row;
    };

}
.c-card__container{
    margin: 0 5% 5% 5%;
}
.c-card-title__container{
    padding: 30px 5%;
    background-color: #3C2B1C;
}
.c-top-title__container{
    padding: 30px 5%;
}
.c-front-inner__container{
    width: 100%;
    padding-top: 60px;

    @include m.tb{
        font-size: 120px;
        padding-top: 90px;
    };
    @include m.pc{
        padding-top: 120px;
    };
}
.c-front-items__container{
    margin: 10px;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.8);  
}
.c-map-text__container{
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    @include m.pc{
        width: 60%;
    };
}