@use '../../foundation/mixin' as m;

.c-card__container{
    padding: 0 5% 5% 5%;
}
.c-card-title__container{
    padding: 5% 7% 5% 5%;
    background-color: #3C2B1C;
    @include m.tb{
        width: 40%;
    };
}
.c-top-title__container{
    padding: 30px 5%;
    @include m.tb{
        padding: 5%;
    };
}
.c-front-inner__container{
    width: 100%;
    padding-top: 70px;

    @include m.tb{
        font-size: 120px;
        padding-top: 120px;
    };
    @include m.pc{
        padding-top: 140px;
    };
}
.c-front-items__container{
    margin: 10px;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.8);  
}
.c-map-text__container{
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    @include m.pc{
        width: 60%;
    };
}

.c-page__container{
    padding: 10px;
    height: 40px;
    margin:30px 5% 0 5%;
}
.c-btn__container{
    width: auto;
}
.c-page-nav__container{
    padding: 70px 0 30px 0;
}