@use '../../foundation/mixin' as m;

.c-display--none-to-tb-block{
    display: none;
	@include m.tb{
        display: block;
    };
}
.c-display--none-to-pc-block{
    display: none;
	@include m.pc{
        display: block;
    };
}
.c-display--tb-none{
	@include m.tb{
        display: none;
    };
}
.c-display--pc-none{
	@include m.pc{
        display: none;
    };
}