@use '../../foundation/mixin' as m;

.c-flex--jc-center{
    display: flex;
    justify-content: center;
}
.c-flex--jc-space-between{
    display: flex;
    justify-content: space-between;
}
.c-flex--ai-flex-end{
    display: flex;
    align-items: flex-end;
}
.c-flex--fd-column{
    display: flex;
    flex-direction:column;  
}
.c-flex--fd-column-to-row{
    display: flex;
    flex-direction:column;
    @include m.tb{
        flex-direction: row;
    };
}
.c-flex--pc-jc-space-between{
    @include m.pc{
        display: flex;
        justify-content: space-between;
    };
}
