@use '../../foundation/mixin' as m;

/**********************/
/* backgroundプロパティ
/**********************/
.c-bgp--center-cover-no-repeat{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.c-bgp--center-contain-no-repeat{
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.c-bgp--left-cover-no-repeat{
    background-repeat: no-repeat;
    background-size:cover;
    background-position:left;
}
.c-bgp-left-to-tb-center{
    @include m.tb{
        background-position: center;
    };
}
.c-bgp--top-contain-no-repeat{
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top;
}

/**********************/
/* フロントページ画像
/**********************/
.c-image--front-top{
    width: auto;
    height: 100%;
    max-height: 283px;
    padding: 120px 8%;
    background-image: url(/images/img_iPhone_front-page/one-burger-with-vegetable.png);
    @include m.tb{
        max-height: 283px;
        background-image: url(/images/img_TB_front-page/TB__one-burger-with-vegetable.png);
    };
    @include m.pc{
        max-height: 530px;
        padding: 150px 5%;
        background-image: url(/images/img_PC_front-page/PC__one-burger-with-vegetable.png);
    };
}
.c-image--front-left-center{
    position: relative;
    min-height: 643px;
    margin: 20px 5%;
    background-image: url(/images/img_iPhone_front-page/three-burgers-with-white-plates.png);

    > h3{
        position: absolute;
        left: 10px;
        top: 10px;
    }


    @include m.tb{
        width: 100%;
        margin: 40px 3%;
        background-image: url(/images/img_TB_front-page/TB__three-burgers-with-white-plates.png);
        font-size: 40px;
    };
    @include m.pc{
        margin: 50px 3%;
        background-image: url(/images/img_PC_front-page/PC__three-burgers-with-white-plates.png);
        font-size: 50px;
    };
}
.c-image--front-right-center{
    @extend .c-image--front-left-center;
    background-image: url(/images/img_iPhone_front-page/one-baconburger-with-frenchfries.png);

    @include m.tb{
        background-image: url(/images/img_TB_front-page/TB__one-baconburger-with-frenchfries.png);
    };
    @include m.pc{
        background-image: url(/images/img_PC_front-page/PC__one-baconburger-with-frenchfries.png);
    };
}

/**********************/
/* アーカイブページ画像
/**********************/
.c-image--archive-top{
    width: auto;
    height: 100%;
    max-height: 283px;
    padding: 120px 8%;
    background-image: url(/images/img_iPhone_archive-page/iPhone&TB_archive_top.png);
    @include m.tb{
        max-height: 283px;
        background-image: url(/images/img_PC_archive-page/PC_archive_top.png);
    };
    @include m.pc{
        max-height: 239px;
        padding: 90px 5%;
        background-image: url(/images/img_PC_archive-page/PC_archive_top.png);
    };
}
.c-image--card{
    min-height: 230px;
    background-image: url(/images/img_iPhone_archive-page/iPhone_archive_index_card.png);
    @include m.tb{
        width: 53%;
        background-image: url(/images/img_TB_archive-page/TB_archive_index_card.png);
    };
    @include m.pc{
        background-image: url(/images/img_PC_archive-page/PC_archive_index_card.png);
    };  
}

/**********************/
/* Singleページ画像
/**********************/

.c-image--single-top{
    width: auto;
    height: 100%;
    max-height: 225px;
    padding: 110px 8%;
    background-image: url(/images/img_iPhone_single-page/single_burger_with_tomato.png);
    @include m.tb{
        max-height: 500px;
        padding: 240px 4%;
        background-image: url(/images/img_TB_single-page/TB__single_burger_with_tomato.png);
    };
    @include m.pc{
        background-image: url(/images/img_PC_single-page/PC__single_burger_with_tomato.png);
    };
}

.c-image--single-middle{
    /* 横幅100%で綺麗に可変表示させる方法。height: 0、padding-top＝表示画像の高さ ÷ 表示画像の幅 × 100 */
    height: 0;
    padding-top: 37%;
    background-image: url(/images/img_iPhone_single-page/single_burger_and_frenchfries_small.png);
    @include m.tb{
        background-image: url(/images/img_TB_single-page/TB__single_burger_and_frenchfries_small.png);
    };
    @include m.pc{
        background-image: url(/images/img_PC_single-page/PC__single_burger_and_frenchfries_small.png);
    };  
}
.c-image--single-galarry {
    background-image: url(/images/img_iPhone_single-page/single_burger_and_frenchfries_learge.png);
    @include m.tb{
        background-image: url(/images/img_TB_single-page/TB__single_burger_and_frenchfries_learge.png);
    };
    @include m.pc{
        background-image: url(/images/img_PC_single-page/PC__single_burger_and_frenchfries_learge.png);
    };  
}
.c-image--property-for-galarry{
    height: 0;
    padding-top: 50%;
    @include m.pc{
        padding-top: 30%
    };  
}
/**********************/
/* マップ画像
/**********************/
.c-image--map{
    background-image: url(/images/img_iPhone_front-page/map.png);
    @include m.tb{
        background-image: url(/images/img_TB_front-page/TB__map.png);
    };
    @include m.pc{
        background-image: url(/images/img_PC_front-page/PC__map.png);
    };
 }

/**********************/
/* サーチ画像
/**********************/
 .c-img--search{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
}
