@use '../../foundation/mixin' as m;

.c-logo__large{
    padding: 40px;
    font-size: 40px; 
    text-align: center;
    @include m.pc{
        width: 40%;
        margin: 45px 20px;
        padding: 20px;
        font-size: 64px;
        text-align: initial;
    };
    @include m.pc-s{
        font-size: 55px;
        margin: 50px 10px;
    };
}
.c-copyright{
    padding-top: 34px;
    font-size: 14px;
}

