@use '../../foundation/mixin' as m;

.c-logo__text{
    padding: 40px;
    font-size: 40px; 
    text-align: center;
    @include m.pc{
        width: 40%;
        margin: 45px 20px;
        padding: 20px;
        font-size: 64px;
        text-align: initial;
    };
    @include m.pc-s{
        margin: 50px 10px;
        font-size: 55px;
    };
}

.c-footer__text--big{
    font-size: 20px;
    font-family: 'M+ 1m';
    color: white;
}
.c-footer__text--small{
    font-size: 14px;
    padding-top: 34px;
    font-family: 'M+ 1m';
    color: white;
}



/**********************/
/* font-family: 'M+ 1m'
/**********************/
.c-text--M1m-36-bold{
    font-size: 36px;
    font-weight: bold;
    font-family: 'M+ 1m';
    @include m.pc{
        font-size: 45px;
    };
}
.c-text--M1m-30-bold{
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'M+ 1m';

    @include m.pc{
        padding-bottom: 40px;
        font-size: 36px;
    };
}
.c-text--M1m-28-bold{
    padding-bottom: 30px;
    font-family: 'M+ 1m';
    font-weight: bold;
    font-size: 26px;
    @include m.tb{
        font-size: 30px;
    };
}
.c-text--M1m-23-bold{
    padding-bottom: 20px;
    font-size: 23px;
    font-weight: bold;
    font-family: 'M+ 1m';
}
.c-text--M1m-20-lh29-bold{
    padding-bottom: 25px;
    line-height: 29px;
    font-family: 'M+ 1m';
    font-weight: bold;
    font-size: 20px; 
    @include m.pc{
        font-size: 28px;
    };
}
.c-text--M1m-16-bold{
    padding: 10px 0 0 0;
    font-size: 16px;
    font-weight: bold;
    font-family: 'M+ 1m';
}
.c-text--M1m-16-lh23{
    line-height: 23px;
    font-family: 'M+ 1m';
    font-size: 16px; 
}
.c-text--M1m-16-lh23-bold{
    padding-bottom: 10px;
    line-height: 23px;
    font-family: 'M+ 1m';
    font-weight: bold;
    font-size: 16px; 
    @include m.pc{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
    };
}
.c-text--M1m-14-lh33-bold{
    font-size: 14px;
    font-weight: bold;
    font-family: 'M+ 1m';
    line-height: 33px;
    @include m.pc{
        font-size: 16px;
    };
}


/**********************/
/* font-family: 'Roboto'
/**********************/
.c-text--Roboto-32{
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    @include m.tb{
        font-size: 45px;
    };

}
.c-text--Roboto-16{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


/**********************/
/* Others
/**********************/

