@use '../../foundation/mixin' as m;

/**********************/
/* text-align
/**********************/
.c-text-align--center{
    text-align: center;
}
.c-text-align--center-to-pc-initial{
    text-align: center;
    @include m.pc{
        text-align: initial;
    }
}
