@use '../../foundation/mixin' as m;

.p-nav__title{
    display: none;

    @include m.pc{
        position: relative;
        top: 82px;
        left: 46px;
        font-size: 34px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: #707070;
        display: block;
    };

}
.p-nav{
    position: relative;
    top: 212px;
    left: 46px;
}
.p-nav__category{
    font-family: 'M+ 1m';
    color: #707070;
}
.p-nav__item{
        padding: 10px;
        font-size: 20px;
}
.p-nav__item:first-child{
        padding: 30px 0px;
        font-size: 24px;
        font-weight: bold;
}