@use '../../foundation/mixin' as m;

.p-search{
    position:relative; 
    width: 318px;
    height: 46px;
    margin:0 auto;
    @include m.tb{
        width: 546px;
        margin: auto;
    };
    @include m.pc{
        margin: auto 20px;
    };
    @include m.pc-s{
        width: 390px;   //test
    };

}
.p-search__input{	
    position:absolute; 
    left:0;
    top:0; 
    width:230px;
    height:46px;
    padding: 0 10px 0 40px;
    background:#FFFFFF;
    border-radius: 10px;
    border-color: #707070;
    border-width: 1px;
    outline:0;	
    font-size: 18px;
    @include m.tb{
        width: 396px;
    };
    @include m.pc-s{
        width: 280px;   //test
    };

}
.p-search__img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
}
